* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin-top: 27px;
  margin-bottom: 140px;
}

.header_nav {
  display: flex;
  justify-content: right;
}

.header_nav a {
  margin-right: 33px;

  text-decoration: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
}

.about_block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 80px;
}

.about_content h2 {
  width: 500px;

  margin-bottom: 40px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}

.about_content p {
  width: 500px;

  margin-bottom: 38px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.about_content a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 208px;
  height: 47px;

  background: #ff6464;
  border-radius: 2px;

  text-decoration: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.recent_posts {
  margin-bottom: 15px;

  background: #edf7fa;
}

.recent_posts_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent_posts_top h2 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
}

.recent_posts_top a {
  text-decoration: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #00a8cc;
}

.recent_posts_block ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.recent_posts_item {
  position: relative;
  width: 48%;
  height: 295px;
  margin-bottom: 50px;

  list-style: none;
  background-color: #ffffff;
}

.recent_posts_item h2 {
  width: 374px;

  margin: 24px 23px 17px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
}

.recent_posts_item p {
  margin: 0 23px 7px;

  width: 374px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.recent_posts_item_date {
  margin: 0 23px 11px;

  width: 374px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
}

.featured_works_block h2 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
}

.featured_works_item {
  display: flex;

  margin-bottom: 31px;
  padding-bottom: 15px;

  list-style: none;
  border-bottom: 1px solid #e0e0e0;
}

.featured_works_item img {
  margin-right: 18px;
}

.featured_works_item h2 {
  margin-bottom: 16px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
}

.featured_works_type {
  display: flex;
  align-items: center;

  margin-bottom: 17px;
}
.featured_works_type .year {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 62px;
  height: 25px;

  margin-right: 26px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
  background: #142850;
  border-radius: 16px;
}
.featured_works_type .type {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
}

.featured_works_item p {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

main {
  margin-bottom: 83px;
}

.social_networks_top {
  padding-top: 51px;
  margin-bottom: 26px;
  text-align: center;
}

.social_networks_top img {
  margin: 0 17px 0;
}

.social_networks_title {
  padding-bottom: 54px;
  text-align: center;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #21243d;
}
