body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}
.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
.header {
    margin-top: 50px;
    margin-bottom: 200px;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 130px;
}
.header__nav a {
    margin-right: 50px;

    text-decoration: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.header__nav a:last-child {
    margin-right: 0;
}
.header__sosi {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 210px;
    height: 60px;

    text-decoration: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;

    background: #FFFFFF;
    box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
}
.header__content {
    position: relative;
}
.header__content img {
    position: absolute;
    top: 96px;
    left: 363px;
}
.header__content h1 {
    width: 645px;
    margin: 0 0 50px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
}
.header__content p {
    width: 380px;
    margin: 0 0 50px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.header__content a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;

    text-decoration: none;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;

    background: #9C69E2;
    border-radius: 50px;
    border: none;
}

.about__block {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 150px;

    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.about__block img {
    width: 477px;
}
.about__block h2 {
    width: 475px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.about__block p {
    width: 474px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.features__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__block h2 {
    margin: 0 0 50px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.features__block p {
    width: 584px;
    margin: 0 0 70px;

    text-align: center;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.features__block ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.features__item {
    display: flex;
    position: relative;
    width: 50%;
    height: 358px;
    margin-bottom: 50px;

    list-style: none;
    background: url("../img/feat_block1.svg") 100% 50% no-repeat;
}
.features__item:nth-child(2) {
    background: url("../img/feat_block2.svg") 100% 50% no-repeat;
}
.features__item:nth-child(3) {
    background: url("../img/feat_block3.svg") 100% 50% no-repeat;
}
.features__item:nth-child(4) {
    background: url("../img/feat_block4.svg") 100% 50% no-repeat;
}
.features__item__content {
    margin-left: 33px;
    position: absolute;
    top: 49px;
    left: 232px;
}
.features__item__content h4 {
    margin: 0 0 20px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}
.features__item__content p {
    width: 220px;
    margin: 0 0 20px;

    text-align: left;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.features__item__content a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
}
.features__item__logo {
    width: 232px;
    position: absolute;
    top: 73px;
}
