* {
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.header_block {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  margin-bottom: 84px;
}
.header_logo {
  display: flex;
  align-items: center;
}
.header_logo a {
  width: 33px;
  height: 33px;
  text-align: center;
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #ffffff;
  mix-blend-mode: normal;
  background: #458ff6;
  border-radius: 50%;
}
.header_naw a {
  margin-right: 40px;

  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
}
.header_naw a:hover {
  opacity: 1;
}

.consult_block {
  display: flex;
  margin-bottom: 192px;
}
.consult_block img {
  width: 600px;
  height: 100%;
}
.consult_content {
  margin: auto;
}
.consult_content h1 {
  margin-bottom: 25px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.consult_content p {
  margin-bottom: 48px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  mix-blend-mode: normal;
}
.consult_content a {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  height: 56px;

  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
  mix-blend-mode: normal;
  background: #458ff6;
  border-radius: 55px;
}

.service_content h2 {
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.service_content hr {
  width: 56px;
  margin: 26px auto 33px;
}
.service_content p {
  width: 950px;
  margin: 0 auto 80px;

  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
}
.service_block ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  background: linear-gradient(
    90deg,
    rgba(108, 188, 252, 1) 0%,
    rgba(69, 141, 252, 1) 35%
  );
  border-radius: 20px;
}
.service_items {
  width: 350px;
  margin-top: 37px;

  list-style: none;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  background: #ffffff;
}
.service_items > * {
  margin-left: 37px;
}
.service_items img {
  width: 100px;
  margin-top: 47px;
}
.service_items h2 {
  margin-top: 24px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.service_items p {
  margin-bottom: 47px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  mix-blend-mode: normal;
}
