header {
  margin-bottom: 82px;
}
.logo {
  margin-top: 63px;
  margin-left: 245px;

  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.logo_title {
  margin-right: 10px;
}
