* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  margin-top: 15px;
  border: 2px solid teal;
  justify-content: space-between;
  align-items: center;
}
