@media (max-width: 930px) {
  * {
    margin: 3px;
  }

  .logo {
    justify-content: center;
  }

  .information__block {
    justify-content: center;
  }

  .information__img {
    display: none;
  }

  .market__img {
    display: none;
  }
}

@media (max-width: 840px) {
  * {
    margin: 4px;
  }

  .logo {
    justify-content: center;
    text-align: center;
  }

  .information__block {
    justify-content: center;
    text-align: center;
  }
  .information__content {
    align-items: center;
  }

  .market__block {
    justify-content: center;
    text-align: center;
    padding: 60px 0;
  }
  .market__content {
    align-items: center;
  }
}
